body {
  margin: 0;
  font: 0.9rem/1.4 "Helvetica Neue", "Lucida Grande", "Arial";
  -webkit-font-smoothing: antialiased;
  color: #303030;
}
html {
  background: #ECE9E9;
  background: linear-gradient(to bottom right, 
      #E0E9E9 5em,
      #F8F0F0 calc(50% - 5em),
      #F8F0E0 calc(50% + 5em),
      #ECE9E9 calc(100% - 5em)) 
      0 0/ 100% 100vh fixed;
}
body > * {
  margin: 0 auto;
  padding: 0.5rem;
}
:link {
  color: #248;
}
:visited {
  color: #62A;
}
.filename:link {
  text-decoration: none;
  font-style: italic;
}
header, footer {
  background: hsla(0, 0%, 100%, 0.5);
  max-width: 50rem;
}
header p {
  font-style: italic;
}
header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
h1, h2, h3 {
  line-height: 1.1;
}
.columns {
  margin: 0;
  padding: 0;
  column-gap: 1em;
}
.columns.narrow {
  column-width: 15em;
}
.columns.wide {
  column-width: 31em;
}
.columns > p:first-child {
  margin-top: 0;
}
li, dt, dd {
  margin:  0 0 0.5em;
  line-height: 1.1;  
}
dd {
  margin-top: -0.5em;
}
dt {
  break-inside: avoid;
  break-after: avoid;
}
.directory li, .example-list > li {
  list-style: none;
  break-inside: avoid;
}
.directory li {
  padding-left: 0.5em;
  text-indent: -0.5em;
}