html, body {
  margin: 0;
  background: #E7E7E8;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
html, body, image, rect, svg {
  width: 100%;
  height: 100%;
}