/* page styles */
body {
    padding: 0.5em 2em;
    font-family: sans-serif;
    background-color: lightSteelBlue;
    color: indigo;
}
svg  { background-color: plum; }
path { fill: currentColor; }

/* aspect-ratio control styles */
.svg-wrapper {                    /*<1>*/
    position: relative;
    width: 100%;
    height: 1px;                  /*<2>*/
    box-sizing: content-box;      /*<3>*/
    margin: 0;
    padding: 0;
}
.svg-wrapper.square {
    padding-bottom: 100%;         /*<4>*/
    padding-bottom: calc(100% - 1px);  /*<5>*/
}
.svg-wrapper.ratio-2-1 {
    padding-bottom: 50%;
    padding-bottom: calc(50% - 1px);   /*<6>*/
}
.svg-wrapper > svg { 
    display: block;
    position: absolute;          /*<7>*/
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}