/* Additional styles for the online extras articles */

/* center single-column content */
p, li {
  margin-left: auto;
  margin-right: auto;
}

/* notes, tips, warnings */
[data-type="note"],
[data-type="tip"],
[data-type="warning"] {
  max-width: 45rem;
  box-sizing: border-box;
  margin: 1em auto;
  padding: 0 0.5rem 0 4rem;
  overflow: hidden; /* contain child margins */
  border-width: 3px;
  border-radius: 3px;
  border-style: none solid;
}
[data-type="note"]    { border-color: #248 }
[data-type="note"]    h6     { color: #248 }
[data-type="tip"]     { border-color: #396 }
[data-type="tip"]     h6     { color: #396 }
[data-type="warning"] { border-color: #a12 }
[data-type="warning"] h6     { color: #a12 }

[data-type="note"]    h6,
[data-type="tip"]     h6,
[data-type="warning"] h6,
[data-type="note"]::before,
[data-type="tip"]::before,
[data-type="warning"]::before {
  display: inline-block;
  width: 4rem;
  text-align: center;
  float: left;
  clear: left;
  margin: 0;
  margin-left: -4rem;
}
[data-type="note"]    h6,
[data-type="tip"]     h6,
[data-type="warning"] h6 {
  font-size: x-small;
  margin-bottom: 1rem;
}

[data-type="note"]::before,
[data-type="tip"]::before,
[data-type="warning"]::before {
  font-size: 200%;
  margin-top: 1rem;
}
[data-type="note"]::before    { content: "🤓"; } /* 🤓🤔😡 or 🦉🐒🦂 */
[data-type="tip"]::before     { content: "🤔"; } 
[data-type="warning"]::before { content: "😡"; }

/* examples and figures */
[data-type="example"],
figure {
  border: 2px #248;
  border-style: solid none;
  margin: 1em 0;
}
[data-type="example"] h5, /* example caption */
figure figcaption {
  font-size: inherit;
  font-weight: normal;
  max-width: 45em;
  margin: 0.5em auto;
}
[data-type="example"] h5 .label,
figure figcaption .label {
  font-style: italic;
}
figure,
dl:not(.columns):not(.columns-children) dt {
  padding: 0.2em calc(50% - 22.5em); /* constrain content width to 45em */
}
figure img {
  display: block;
  background: white;
  max-width: 100%;
  max-height: 95vh;
  margin: 0 auto;
  resize: both;
}

/* code blocks */
pre[data-type="programlisting"] {
  padding: 0.5em;
  max-width: 72ch;
  margin: 0.5em auto;
  overflow-x: auto;
}
pre[data-type="programlisting"] code,
pre[data-type="programlisting"] a.co /* for fallback text on callout markers */
{ color: inherit;
  text-decoration: none;
}
pre[data-type="programlisting"] a.co img::before { content: "("; }
pre[data-type="programlisting"] a.co img::after { content: ")"; }

/* callouts */
.calloutlist dt {
  float: left;
  clear: left;
  background: none;
  margin: 0.5em;
}
.calloutlist dd {
  padding: 0.5em 0 0.5em 2em;
  margin: 0;
}
.calloutlist dd p { margin: 0; }
.calloutlist dd:nth-of-type(odd) {
  background: rgba(50%, 75%, 100%, 0.3);
}
dl.calloutlist { border-bottom: none; }